{% extends 'base.html' %} {% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Profil użytkownika</h1>
    <div class="box">
      <h2 class="subtitle">Witaj, {{ user.first_name }}!</h2>
      <p>Twoje nazwisko: {{ user.last_name }}</p>
      <p>Twój email: {{ user.email }}</p>
    </div>
    <a class="button is-primary" href="{% url 'edit_profile' %}">Edytuj profil</a>
    <a class="button is-danger" href="{% url 'change_password' %}">Zmień hasło</a>
  </div>
</section>
{% endblock %}
