<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .navbar {
            background-color: #f7f7f7;
            box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
        }
        .navbar-item img {
            max-height: 3rem;
        }
    </style>
</head>
<body style="display: flex; flex-direction: column; min-height: 100%;">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <i class="fas fa-home"></i>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/reservations">
                    Reservations
                </a>
                <a class="navbar-item" href="/account">
                    My Account
                </a>
            </div>
        </div>
    </nav>

    <main style="flex: 1;">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer" style="padding: 1rem 1.5rem;">
        <div class="content has-text-centered">
            <p>
                <strong>Authors</strong> <a href="https://github.com/Davsooonowy">Dawid Mularczyk</a>,
                <a href="https://github.com/HadesXBloodFire2024">Maciej Wilewski</a>. 2024
            </p>
        </div>
    </footer>
</body>
</html>