{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="../static/styles/book_training.css" />
<section class="section">
  <div class="container">
    <div class="level">
      <h1 class="title level-left">Zarezerwuj trening</h1>
      <button id="interactButton" class="button is-primary is-outlined level-right" style="display: none">
        Interact
      </button>
    </div>
    <div id="calendar"></div>
  </div>
</section>
<script src="../static/scripts/book_training.js"></script>
{% endblock %}