{% extends 'base.html' %}
<!--TODO: WAZNE! zmien tego jsona na baze dancyh z opisami jako elementy wewnatrz,-->
{% block content %}
<link rel="stylesheet" href="../static/styles/diet.css" />
<section class="section">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <button id="prev-day" class="button is-link is-light">
          <span class="icon">
            <i class="fas fa-arrow-left"></i>
          </span>
        </button>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="title" id="current-day"></p>
        </div>
      </div>
      <div class="level-right">
        <button id="next-day" class="button is-link is-light">
          <span class="icon">
            <i class="fas fa-arrow-right"></i>
          </span>
        </button>
      </div>
    </div>
    <div class="content-center">
      <table id="meals-table" class="table is-striped">
        <thead>
          <tr>
            <th>Posiłek</th>
            <th>Opis</th>
            <th>Kalorie</th>
          </tr>
        </thead>
        <tbody id="meals-list"></tbody>
      </table>
      <div class="notification is-link has-text-centered" id="calories-sum-notification">
        <p id="calories-sum"></p>
      </div>
      <button id="add-meal-button" class="button is-link">Dodaj posiłek</button>
      <button id="remove-meal-button" class="button is-link">Usuń posiłek</button>
            <form id="meal-form" style="display: none;">
        <div class="field">
          <label class="label">Nazwa posiłku</label>
          <div class="control">
                        <input class="input" type="text" id="meal-name" placeholder="Wpisz nazwę posiłku">
          </div>
        </div>
        <div class="field">
          <label class="label">Opis posiłku</label>
          <div class="control">
            <textarea class="textarea" id="meal-description" placeholder="Wpisz opis posiłku"></textarea>
          </div>
        </div>
        <div class="field">
          <label class="label">Kalorie</label>
          <div class="control">
                        <input class="input" type="number" id="meal-calories" placeholder="Wpisz liczbę kalorii">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-link" type="submit" id="save-meal">Zapisz</button>
            <button class="button is-link is-light" type="button" id="cancel-meal">Anuluj</button>
          </div>
        </div>
      </form>
            <form id="remove-meal-form" style="display: none;">
        <div class="field">
          <label class="label">Nazwa posiłku</label>
          <div class="control">
                <input class="input" type="text" id="remove-meal-name" placeholder="Wpisz nazwę posiłku do usunięcia">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-link" type="submit" id="confirm-remove-meal">Usuń</button>
            <button class="button is-link is-light" type="button" id="cancel-remove-meal">Anuluj</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<script src="../static/scripts/diet.js"></script>
{% endblock %}
