{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="../static/styles/main.css" />
<section class="section">
  <div class="container">
    <h2 class="title">Najbliższe treningi</h2>
    <div class="columns is-multiline">
      {% for reservation in reservations %}
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content">
            <p class="title">{{ reservation.name }}</p>
            <p class="subtitle">{{ reservation.start }} - {{ reservation.end|date:"H:i" }}</p>
            <p class="subtitle">
              {% if reservation.trainer %}
              Trener: {{ reservation.trainer.first_name }}
              {{ reservation.trainer.last_name }}
              {% else %}
              Brak trenera
              {% endif %}
            </p>
            <a href="http://127.0.0.1:8000/book_trainer/"><i class="edit-icon fas fa-pencil-alt"></i></a>
            <a href="#" class="delete-icon" data-id="{{ reservation.reservation_id }}"><i class="fas fa-times"></i></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
<section class="section">
  <div class="container">
    <h2 class="title">Cele treningowe</h2>
    {% for goal in goals %}
    <div class="card">
      <div class="card-content">
        <p class="title">{{ goal.name }}</p>
        <p class="subtitle">Maksymalna liczba dni: {{ goal.max_days }} </p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

  <section class="section">
  <div class="container">
    <h2 class="title">Ostatnie treningi</h2>
    <div class="columns is-multiline">
      {% for reservation in past_reservations %}
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content">
            <p class="title">{{ reservation.name }}</p>
            <p class="subtitle">{{ reservation.start }} - {{ reservation.end|date:"H:i" }}</p>
            <p class="subtitle">
              {% if reservation.trainer %}
              Trener: {{ reservation.trainer.first_name }} {{ reservation.trainer.last_name }}
              {% else %}
              Brak trenera
              {% endif %}
            </p>
            <p class="subtitle">
              {% if reservation.training_id %}
              Trening: {{ reservation.training.name }}
              Ćwiczenia:
              <ul>
                {% for training_exercise in reservation.training.traningsexercises_set.all %}
                {% if training_exercise.succeded %}
                <li>{{ training_exercise.exercise.description }}</li>
                {% endif %}
                {% endfor %}
              </ul>
              {% else %}
              Brak treningu
              {% endif %}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="title">Twoje treningi</h2>
    {% for training in trainings %}
    <div class="card">
      <div class="card-content">
        <p class="title">{{ training.name }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
<script>
document.querySelectorAll('.delete-icon').forEach(function(deleteIcon) {
  deleteIcon.addEventListener('click', function(event) {
    event.preventDefault();
    var reservationId = this.getAttribute('data-id');
    if (confirm("Are you sure you want to remove it?")) {
      $.ajax({
        type: "GET",
        url: '/remove',
        data: {'id': reservationId},
        dataType: "json",
        success: function(response) {
          console.log('Success response:', response);
          location.reload();
          alert('Event Removed');
        },
        error: function(response) {
          console.log('Error response:', response);
          alert('There was an error. Please try again.');
        }
      });
    }
  });
});
</script>
</section>
</section>
{% endblock %}
