{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="../static/styles/main.css" />
<section class="section">
  <div class="container">
    <h2 class="title">Najbliższe treningi</h2>
    <div class="columns is-multiline">
      {% for reservation in reservations %}
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content">
            <p class="title">{{ reservation.start }}</p>
            <p class="subtitle">
              {% if reservation.trainer %}
              Trener: {{ reservation.trainer.first_name }}
              {{ reservation.trainer.last_name }}
              {% else %}
              Brak trenera
              {% endif %}
            </p>
            <a href="#"><i class="edit-icon fas fa-pencil-alt"></i></a>
            <a href="#"><i class="delete-icon fas fa-times"></i></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title">Cele treningowe</h2>
    <!-- Dodajemy tutaj karty z celami treningowymi -->
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="title">Twoje treningi</h2>
    <!-- Dodajemy tutaj karty z treningami użytkownika -->
  </div>
</section>
{% endblock %}
