{% extends "base.html" %} {% block content %}
<style>
  html,
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .card {
    transition: transform 0.2s;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
  }
  .card:hover {
    transform: scale(1.05);
  }
  .card-image img {
    transition: opacity 0.2s;
  }
  .card:hover .card-image img {
    opacity: 0.9;
  }
  .card-content {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.9)
    );
  }
  .column {
    display: flex;
    justify-content: center;
  }
  .section {
    flex: 1;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .columns {
    justify-content: center;
  }
</style>

<section class="section">
  <div class="container">
    <div class="columns is-multiline is-centered">
      <div class="column is-half">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="https://preview.redd.it/shrek-hitting-the-gym-v0-71qe5idwjryb1.jpg?width=640&crop=smart&auto=webp&s=f8b4a891e322f3dc3197d44d2cfb3d8d2e3750ba"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <p class="title">Zarezerwuj trenera</p>
          </div>
        </div>
      </div>
      <div class="column is-half">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="https://preview.redd.it/shrek-hitting-the-gym-v0-2ux0cidwjryb1.jpg?width=640&crop=smart&auto=webp&s=5a2133453f247ae6950a2ee7e903a8d283514fa1"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <p class="title">Zarezerwuj Trening</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
